flows.json
[
    {
        "id": "692c560361ef5568",
        "type": "tab",
        "label": "Formulário",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4ae2a8d9958f7ce",
        "type": "ui_tab",
        "name": "Form",
        "icon": "insert_drive_file",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62c8b810c32cc78b",
        "type": "ui_tab",
        "name": "Answers",
        "icon": "content_paste",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6563f36ca33b5168",
        "type": "ui_group",
        "name": "Hotel Feedback Form",
        "tab": "d4ae2a8d9958f7ce",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d939af49e79aae82",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#003b95",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#003b95",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#003b95",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#0476d9",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#f2f2f2",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#f29f05",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#0476d9",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#f29f05",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Hotel Form",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e129782351c1d793",
        "type": "ui_group",
        "name": "Answers Form",
        "tab": "62c8b810c32cc78b",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8667ba40779650b0",
        "type": "ui_form",
        "z": "692c560361ef5568",
        "name": "",
        "label": "",
        "group": "6563f36ca33b5168",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "First Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Last Name",
                "value": "last name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Phone Number",
                "value": "phone",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Check-in date",
                "value": "checkin",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Check-out date",
                "value": "checkout",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "From which country are you from?",
                "value": "country",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Overall experience (1 to 5)",
                "value": "experience",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Any other suggestions for us?",
                "value": "suggestion",
                "type": "multiline",
                "required": false,
                "rows": 5
            }
        ],
        "formValue": {
            "name": "",
            "last name": "",
            "phone": "",
            "email": "",
            "checkin": "",
            "checkout": "",
            "country": "",
            "experience": "",
            "suggestion": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Clear",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "3a322da2bf9a3fa7"
            ]
        ]
    },
    {
        "id": "3a322da2bf9a3fa7",
        "type": "csv",
        "z": "692c560361ef5568",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "0bb7d44d65459e60"
            ]
        ]
    },
    {
        "id": "0bb7d44d65459e60",
        "type": "file",
        "z": "692c560361ef5568",
        "name": "",
        "filename": "hotel",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "e5b55cdf0bf052a5"
            ]
        ]
    },
    {
        "id": "e5b55cdf0bf052a5",
        "type": "csv to json ext",
        "z": "692c560361ef5568",
        "name": "",
        "version": "0.1",
        "source": "filename",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "\"First Name\", \"Last Name\", \"Phone Number\", \"Email\", \"Check-in\", \"Check-out\", \"Country\", \"Experience\", \"Suggestion\"",
        "debug": false,
        "x": 790,
        "y": 340,
        "wires": [
            [
                "3997d8fbce2ee636",
                "d9f3087b38aa6ae1"
            ]
        ]
    },
    {
        "id": "3997d8fbce2ee636",
        "type": "debug",
        "z": "692c560361ef5568",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9f3087b38aa6ae1",
        "type": "ui_table",
        "z": "692c560361ef5568",
        "group": "e129782351c1d793",
        "name": "",
        "order": 1,
        "width": 20,
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "7715b3908ebf825a",
        "type": "inject",
        "z": "692c560361ef5568",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "e2be469812cc127a"
            ]
        ]
    },
    {
        "id": "e2be469812cc127a",
        "type": "file",
        "z": "692c560361ef5568",
        "name": "",
        "filename": "hotel",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    }
]